# ---------------
# GITIGNORE
# ---------------

# Development Environment
.vscode/
.idea/

# Dotnet Build Env
**/obj/
**/build/
**/bin/

# Securables
Deploy/*.ssh
Deploy/*.pem
**/.seed
**/appsettings.*.json

# Logs
**/logs